
<div class="midTop">
  <div class="topLeft">
    <div class="logoNew">
        <img src="/images/logoNew.png" alt="nouveau logo">
    </div>
    <div class="titrePage">
      <div class="ellipse">
        <img src="/images/ellipse.png" alt="ellipse">
      </div>   
      <div class="titrePetit">
        <p>Veuillez entrer votre identifiant et votre mot de passe pour acceder à votre espace personnel</p>
      </div>
    </div>
  </div>

  <div class="topRight">
      <div id="connexion">
        <img src="/images/connexion.svg" alt="connexion">
      </div>
      <div class="lestrembles">
        <img src="/images/lestrembles.svg" alt="lestrembles">
      </div>
  </div>
</div>

{{!-- 

  <div class="topBox">
    <div class="logoNew">
      <img src="/images/logoNew.png" alt="nouveau logo">
    </div>
    <div id="connexion">
      <img src="/images/connexion.svg" alt="connexion">
    </div>
    <div class="lestrembles">
      <img src="/images/lestrembles.svg" alt="lestrembles">
    </div>
  </div>

  <div class="titrePage">
    <div class="ellipse">
      <img src="/images/ellipse.png" alt="ellipse">
    </div>   
    <div class="titrePetit">
      <p>Veuillez entrer votre identifiant et votre mot de passe pour acceder à votre espace personnel</p>
    </div>
  </div> --}}

<form action="/login" method="post">
  <p>
    <label for="username">Identifiant: </label>
    <input type="text" name="username">    
  </p>

  <p>
    <label for="password">Mot de passe: </label>
      <input type="password" name="password">
  </p>

  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

  <a href="/modifPwd">J'AI OUBLIE MON MOT DE PASSE</a>

  <button type="submit">VALIDER</button>
</form>