<form action="/modifPwd" method="POST"></form>
<h2>nom : {{user.username}}</h2>
<p>
    <label for="password1">Nouveau mot de passe: </label>
      <input type="password" name="password1" >
  </p>

  <p>
    <label for="password2">Confirmer votre nouveau mot de passe: </label>
      <input type="password" name="password2">
  </p>

  <button type="submit">ENREGISTRER LE NOUVEAU MOT DE PASSE</button>
</form>