   
<div class="page accueil">
  <div class="Left">
    <div class="logoNew">
        <img src="/images/logoNew.png" alt="nouveau logo">
    </div>
    <div class="titrePage">
      <div class="ellipse">
        <img src="/images/ellipse.png" alt="ellipse">
      </div>   

      <div class="titreMoyen">
          <p>Mon espace personnel</p>
        </div>

      <p>
        <div class="liensAccueil">
          <div class="lienJaune">
            <img id="logoImg" src="/images/profile.svg" alt="logoProfil">
            <a class="textLien" href="/profil">Consulter mon profil</a>
          </div>

           <div class="lienJaune">
          
            <img id="logoImg" src="/images/absence.svg" alt="logoAbsence">
            <a class="textLien" href="/absence">Prévenir d'une absence</a>
            </div>
          
          <div class="lienJaune">
    
            <img id="logoImg" src="/images/facture.svg" alt="logofacture">
          <a class="textLien" href="/facture">Facture par mail</a>
          </div>

</div>
         

      
      </p>

        
  {{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
  {{/if}}

    </div>
  </div>

  <div class="topRight">
      <div id="connexion">
        <img src="/images/monEspace.svg" alt="mon espace">
      </div>
      <div class="lestrembles">
        <img src="/images/lestrembles.svg" alt="lestrembles">
      </div>
      
  </div>
  
</div>
<div class="logout">
          <a href="/logout">me deconnecter</a>
      
        
        </div>


