<div id="accueil-box">
  <h1>Votre Page d'Accueil</h1>

  <a href="/profil">MON PROFIL</a>
  <a href="/absence">ABSENCES</a>
  <a href="/facture">FACTURE</a>

  <a href="/logout">QUITTER MON ESPACE</a>

</div>

