* :before, after {
  box-sizing:border-box;
  
  }

img {
max-width:100%;
}

body {
  margin:0; /* reset */
  background-color:#ef33b1;
  padding-left:2em;
  font-family: 'Bungee', cursive;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}


.dontDisplay {
  display:none;
}
.page {
  display: flex;
  justify-content: space-between;
}

.topRight {
  display:flex;
  align-items: flex-start;
  margin-top: 1em;
}

.lestrembles {
  margin-top:0;
  margin-right:0;
  margin-left:5px;
  /* background-color: blue; */
  width:47px;
}

.logoNew{
  width:80px;
  /* background-color: chartreuse; */
}


.ellipse img {
  width:100px;
}


 .rectangleJaune {
  position: absolute;
  width: 240px;
  height: 30px;
  background: #DAFEA4;
  border-radius: 3px;

}

.inputForm {
  padding:0.1em;
  width:240px;
  position: relative;
  height: 30px;
  left: 8px;
  top: 7px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-bottom:2em;
  
  }

input {
  border:0; font:inherit;
  line-height:1.1;
  width:90%;
  }
  


a {
  color: white;
  text-transform: uppercase;
  font-size:1em;
  border: 0;
  
}

label {
  color:white;
  text-transform: uppercase;
  font-size:1em;


}

button {
  padding: 10px 20px;
  color:black;
  text-transform: uppercase;
  font-weight:bold;
  background-color:#DAFEA4;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 1em;
  font-weight:bold;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.titrePage {
  position : absolute;
  margin-left:-1em;
  padding-left:0;

}

.titrePetit {
  position:relative;
  top:-87px;
  font-family: 'Barlow light', sans-serif;
  font-size:12px;
  color:white;
  width:250px;
  margin-left:28px;
 
}


/* 
##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ## 
 */

#connexion {
  /* background-color: crimson; */
  margin-left:auto;
}

.traitBlanc {
  /* Line 1 */
width: 0px;
height: 40px;
border: 2px solid #FFFFFF;
margin-right: 1.5em;

}

.lienOubli {
  display:flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom:3em;
  margin-left:0;
  margin-right:auto;
}

.lienOubli a {
font-size:0.85em;
}