{{!-- CSS --}}

* :before, :after {
  box-sizing:border-box;
  
  }

img {
max-width:100%;
}


body {
  margin:0; /* reset */
  background-color:#ef33b1;
  padding-left:2em;
  font-family: 'Bungee', sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}


.dontDisplay {
  display:none;
}

.page {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
}

.topRight {
  display:flex;
  align-items: flex-start;
  margin-top: 1em;
  z-index: 1;
  
}

.lestrembles {
  margin-top:0;
  margin-right:1px;
  margin-left:0;
  /* background-color: blue; */
  width:47px;
}

.logoNew{
  width:80px;
  /* background-color: chartreuse; */
}


.ellipse img {
  width:100px;
}


.rectangleJaune {
position: absolute;
width: 240px;
height: 30px;
background: #DAFEA4;
border-radius: 3px;

}

.inputForm {
  padding:0.1em;
  width:240px;
  position: relative;
  height: 30px;
  left: 8px;
  top: 7px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-bottom:2em;
  
}

input {
  border:0; font:inherit;
  line-height:1.1;
  width:90%;
  font-family: 'Barlow light', sans-serif;
}

a {
  color: white;
  text-transform: uppercase;
  font-size:1em;
  border: 0;  
}

label {
  color:white;
  text-transform: uppercase;
  font-size:1em;
}

button {
  padding: 0 30px;
  color:black;
  font-family: 'Bungee light', sans-serif;
  text-transform: uppercase;
  background-color:#DAFEA4;
  border-radius: 6px !important; 
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); */
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.titrePage {
  position : absolute;
  margin-left:-1em;
  padding-left:0;

}

.titrePetit {
  position:relative;
  top:-105px;
  font-family: 'Barlow light', sans-serif;
  font-size:16px;
  color:white;
  width:250px;
  margin-left:28px;
  width:235px;
 
}

.titreMoyen {
  position:relative;
  top:-100px;
  font-family: 'Barlow light', sans-serif;
  font-size:24px;
  color:white;
  width:250px;
  margin-left:28px;

}

.logout {
  text-align: right;
  padding-right: 8px;

}

.logout a {
  text-decoration: none;
}



/* 
##        #######   ######   #### ##    ## 
##       ##     ## ##    ##   ##  ###   ## 
##       ##     ## ##         ##  ####  ## 
##       ##     ## ##   ####  ##  ## ## ## 
##       ##     ## ##    ##   ##  ##  #### 
##       ##     ## ##    ##   ##  ##   ### 
########  #######   ######   #### ##    ## 
 */

.photoLogin {
 display:none;
}

@media (min-width: 900px) {
  .photoLogin {
    width:50vw;
    height:100vh;
    justify-content: center;
    margin-left:100px;
    display: block;
   
  }
}


.photoLogin img {
  min-width:100%;
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%);
 
}


 #connexion {
  /* background-color: crimson; */
  margin-right:5px;
  margin-left:auto;
}



.traitBlanc {
  /* Line 1 */
width: 0px;
height: 40px;
border: 2px solid #FFFFFF;
margin-right: 1em;

}

.lienOubli {
  display:flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom:3em;
  margin-left:0;
  margin-right:auto;
}

.lienOubli a {
font-size:0.85em;
}
/* 
##     ##  #######  ##    ##    ########  ######  ########     ###     ######  ######## 
###   ### ##     ## ###   ##    ##       ##    ## ##     ##   ## ##   ##    ## ##       
#### #### ##     ## ####  ##    ##       ##       ##     ##  ##   ##  ##       ##       
## ### ## ##     ## ## ## ##    ######    ######  ########  ##     ## ##       ######   
##     ## ##     ## ##  ####    ##             ## ##        ######### ##       ##       
##     ## ##     ## ##   ###    ##       ##    ## ##        ##     ## ##    ## ##       
##     ##  #######  ##    ##    ########  ######  ##        ##     ##  ######  ######## 
 */

#monEspace {
  /* background-color: crimson; */
  margin-left:auto;
}

.accueil {
  margin-bottom:300px;
}


.logout {
  margin-left:auto;
  margin-right:20px;
  margin-bottom:20px;
}


.textLien {
  position:relative;
  color:black;
  font-size:13px;
  text-decoration: none;
  margin-left:20px;
 
}


.textLien2 {
  position:relative;
  color:black;
  font-size:13px;
  text-decoration: none;
  top:-70px;
  left:75px;
}

#logoImg {
  width:40px;
  margin-left:30px;
}

.lienJaune {
  display:flex;
  background: url("/images/menuButton.png") center no-repeat;
  align-items: center;
  height:100px;
  width:300px;

}

@media (min-width: 900px) {
  .liensAccueil {
    display:flex;
    justify-content: space-around;
   align-items: center;
   margin-bottom: 20vh;
  }
  .accueil {
    margin-bottom:50px;
  }

  .logout {
    margin-right:150px;
    }
 
}


/* 
########  ########   #######  ######## #### ##       
##     ## ##     ## ##     ## ##        ##  ##       
##     ## ##     ## ##     ## ##        ##  ##       
########  ########  ##     ## ######    ##  ##       
##        ##   ##   ##     ## ##        ##  ##       
##        ##    ##  ##     ## ##        ##  ##       
##        ##     ##  #######  ##       #### ######## 
 */
.profil {
    margin-top: 100px;
}

@media (min-width: 900px) {
  .profil {
   
    display:flex;
  }
  .boutonsProfil {
    display:inline;
    width:100%;
    margin-top:30px;
    margin-left: 100px;
    flex-direction:column;
  }

  .boutonsProfil .bouton {
    height:60px;
    font-size:16px;
    width:140px;
    padding:18% 20px 0 20px;
  }
}


#profilRight {
  width:26px;
}
.rectangleJauneGrand {
  position: absolute;
  width: 240px;
  height: 30px;
  background: #DAFEA4;
  border-radius: 3px;
  
  }
  
.rectangleBlancGrand {
  position: relative;
  width: 240px;
  height: 30px;
  top:7px;
  left:8px;
  background: white;
  border-radius: 3px;
  padding-left:5px;

  
   }

.rectangleJauneGrandHaut {
  position: absolute;
  width: 240px;
  height: 50px;
  background: #DAFEA4;
  border-radius: 3px;
  
  }
  
.rectangleBlancGrandHaut {
  position: relative;
  width: 240px;
  height: 50px;
  top:7px;
  left:8px;
  background: white;
  border-radius: 3px;
  padding-left:5px;
  padding-top:auto;
  padding-bottom:auto;
  
  }

.profil p {
  margin:0;
  font-family: 'Barlow light', sans-serif;
  padding-top:5px;
}

.profil h4 {
  font-weight: lighter;
  margin-top:6px;
  margin-bottom:0;
  padding:0;
}
.titreProfil {
  display:block;
  color: white;
  text-transform: uppercase;
  font-size:1em;
  margin-top:2px;
  padding-bottom:0;

}

.middleFont {
  font-size: 14px;

}

.house {
  margin-right: 2px;
  width:50px;
}

.bouton  {
  padding: 5px 20px;
  color:black;
  text-transform: uppercase;
  background-color:#DAFEA4;
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); */
  border-radius: 3px;
  font-size: 0.7em;
  width:32%;
  text-decoration: none;
  text-align: center;
  margin: 5px 0;
  line-height: 1;
  font-family: 'Bungee light', sans-serif;
 
}

.boutonsProfil {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:100%;
  margin-top:30px;
}
/* 
   ###    ########  ##     ## ######## ########  ######## ##    ## ########  ######  
  ## ##   ##     ## ##     ## ##       ##     ## ##       ###   ##    ##    ##    ## 
 ##   ##  ##     ## ##     ## ##       ##     ## ##       ####  ##    ##    ##       
##     ## ##     ## ######### ######   ########  ######   ## ## ##    ##     ######  
######### ##     ## ##     ## ##       ##   ##   ##       ##  ####    ##          ## 
##     ## ##     ## ##     ## ##       ##    ##  ##       ##   ###    ##    ##    ## 
##     ## ########  ##     ## ######## ##     ## ######## ##    ##    ##     ######  
 */

.adherents {
  margin-top: 100px;
}


.retourAdh {
  margin-left:45%;
  margin-top:30px;
  margin-right:20px;
  margin-bottom:20px;

}



.adherents p {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
  color:white;
}

.adherents img {
width:50px;
}



.prof {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}

.prof p {
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 40px;
}



.adherents span {
  font-weight:bold;
  font-size: 22px;
  color:#DAFEA4;
}

.prof span {
  font-size: 18px;
  font-weight: bold;
}

.adherents .cours {
  font-size: 18px;
}

@media (min-width: 900px) {
  .adherents {
    display:flex;
    width:80vw;
    justify-content: space-around;
  }

  .adherents img {
    width:75px;
    height: 112px;
  }

  .retourAdh {
     margin-left:80vw;
  }

  .prof p {
    padding-top: 40px;
    margin-right: 30px;
  }

  .adherents .cours {
    font-size: 25px;
  }

  .adherents span {
    font-size: 30px;
  }

}

/* 
######## ########  #### ########    ########  ########   #######  ######## #### ##       
##       ##     ##  ##     ##       ##     ## ##     ## ##     ## ##        ##  ##       
##       ##     ##  ##     ##       ##     ## ##     ## ##     ## ##        ##  ##       
######   ##     ##  ##     ##       ########  ########  ##     ## ######    ##  ##       
##       ##     ##  ##     ##       ##        ##   ##   ##     ## ##        ##  ##       
##       ##     ##  ##     ##       ##        ##    ##  ##     ## ##        ##  ##       
######## ########  ####    ##       ##        ##     ##  #######  ##       #### ########  */

.titreMoyenPetit {
  position:relative;
  top:-105px;
  font-family: 'Barlow light', sans-serif;
  font-size:20px;
  color:white;
  width:250px;
  margin-left:28px;
 
}

.editProfilForm {
    margin-top:100px;

  }
.inputForm2 {
  padding:0.1em;
  width:240px;
  position: relative;
  height: 30px;
  left: 8px;
  top: 7px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-bottom:1em;
  padding-bottom:7px;
  
  }


/* 
   ###    ########   ######  ######## ##    ##  ######  ######## 
  ## ##   ##     ## ##    ## ##       ###   ## ##    ## ##       
 ##   ##  ##     ## ##       ##       ####  ## ##       ##       
##     ## ########   ######  ######   ## ## ## ##       ######   
######### ##     ##       ## ##       ##  #### ##       ##       
##     ## ##     ## ##    ## ##       ##   ### ##    ## ##       
##     ## ########   ######  ######## ##    ##  ######  ######## 
 */

.lien {display:none;}
form.lien:target {display:block;}

@media (min-width: 900px) {
 .absenceForm {
   display:flex;
   justify-content: space-between;
   width:800px;

 }
}

.titreMoyenAbsence {

  position:relative;
  top:-100px;
  font-family: 'Barlow light', sans-serif;
  font-size:22px;
  color:white;
  width:250px;
  margin-left:28px;
 
}

#absenceRight {
  width:26px;
}

.absenceForm {
  margin-top:130px;
}

.absenceForm span {
  font-weight:bold;
  font-size: 22px;
  color:#DAFEA4;
}

.absenceForm button {
  margin-bottom:30px;
  height: 40px;
  padding:0 10px;
 
}

.boutonAbsence {
  text-align: right;
  margin-right:10px;
 
}

.titreCliquer {
  font-weight: lighter;
  color: black;
  margin-top:6px;
  margin-bottom:0;
  padding:0;
}

li {
  list-style-type: circle;
  color: white;
  font-style: italic;
}

a.prenomClick {
  text-decoration: none;
}

.formAdherent {
  display: flex;
  flex-direction: column;  
  align-items:stretch;
}

.absenceBox {
  flex:1;
  width: 100%;
}

button.absenceBox {
  margin-top: 1em;
  font-size: 1em;
}


@media (min-width: 900px) {
  .absenceForm {
    display:flex;
    justify-content: space-between;
    width:800px;
 
  }
 
  .boutonAbsence {
   text-align: right;
   margin-right:150px;
  
 }
 
 }



/* 
##     ##  #######  ########  #### ########    ########  ##      ## ########  
###   ### ##     ## ##     ##  ##  ##          ##     ## ##  ##  ## ##     ## 
#### #### ##     ## ##     ##  ##  ##          ##     ## ##  ##  ## ##     ## 
## ### ## ##     ## ##     ##  ##  ######      ########  ##  ##  ## ##     ## 
##     ## ##     ## ##     ##  ##  ##          ##        ##  ##  ## ##     ## 
##     ## ##     ## ##     ##  ##  ##          ##        ##  ##  ## ##     ## 
##     ##  #######  ########  #### ##          ##         ###  ###  ########   */

.titreMoyenModif {
  position:relative;
  top:-115px;
  font-family: 'Barlow light', sans-serif;
  font-size:24px;
  color:white;
  width:250px;
  margin-left:28px;
 
}

#modifPwdText {
   width:20px;
  margin-right: 2px;
}

.modifPwdForm {
  margin-top:100px;
}

.modifPwdForm h2 {
  color:white;
}

.modifPwdForm button {
width:250px;
margin-left:10px;
margin-right:auto;
}


/* 
########    ###     ######  ######## ##     ## ########  ######## 
##         ## ##   ##    ##    ##    ##     ## ##     ## ##       
##        ##   ##  ##          ##    ##     ## ##     ## ##       
######   ##     ## ##          ##    ##     ## ########  ######   
##       ######### ##          ##    ##     ## ##   ##   ##       
##       ##     ## ##    ##    ##    ##     ## ##    ##  ##       
##       ##     ##  ######     ##     #######  ##     ## ########  */

.lien {display:none;}
form.lien:target {display:block;}

.factureForm {
  margin-top:150px;
}

.factureForm p {
  color:white;
}

.factureForm span {
  font-weight:bold;
  font-size: 22px;
  color:#DAFEA4;
}

.titreCliquer {
  font-weight: lighter;
  color: white;
  margin-top:6px;
  margin-bottom:0;
  padding:0;
}

li {
  list-style-type: circle;
  color: white;
  font-style: italic;
}

a.prenomClick {
  text-decoration: none;
}


.formAdherent {
  display: flex;
  flex-direction: column;  
  align-items:stretch;
}

.factureBox {
  flex:1;
  width: 100%;
}

button.factureBox {
  margin-top: 1em;
  font-size: 1em;
}





